@import "base/globals";
@import "sass-mq/mq";
@import "normalize-css/normalize";
@import "base/functions";
@import "base/mixins";
@import "base/fonts";
@import "base/colors";
@import "base/base";
@import "base/typography";
@import "base/reset";
@import "base/utils";

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.color-red {
	color:$color-red;
}

/* TRANSITION LINE LINK SECTION CLIENT HOVER */
.slider {
	position: absolute;
    margin:0;
    height: 2px;
    background-color: $color-white;
    width: 0%;
    background-position: 100%;
    transition: width 1s ease;
}

.for-slider-transition:hover .slider-top,.for-slider-transition:hover .slider-bottom{
	 width: 100%;
}
.for-slider-transition {
	position:relative;
    display:inline-block;
}

/* END TRANSITION LINE LINK SECTION CLIENT HOVER END */

/*NAVBAR CUSTOM*/
@import "base/navBar";

/*SECTION CLIENT CUSTOM*/
@import "base/sectionClient";

/*SECTION INFO CUSTOM*/
@import "base/sectionInfo";

/*SECTION NAVIGATION*/
@import "base/sectionNavigation";

/*SECTION COLOR FONT*/
@import "base/sectionColorFont";

/*SECTION RESPONSIVE*/
@import "base/sectionResponsive";

/*SECTION IMAGES*/
@import "base/sectionImages";

/*SECTION IMAGES*/
@import "base/sectionIngredients";

