$color-black: #000;
$color-white: #fff;
$color-light: $color-white;
$color-dark: $color-black;
$color-theme: #0083dd;
$color-theme-with-opacity: rgba(0, 131, 221, 0.8);
$color-black-opacity: rgba(0, 0, 0, 0.8);
$color-red-opacity: rgba(216, 7, 10, 0.8);
$color-text: $color-black;

$color-red: #D8070A;

