.section-client {
    width: 100%;
    height: 46em;
    padding: 15px;
    position: relative;
    top: 0;
    left: 0;
    background: url('../images/casa-milan.jpg') no-repeat center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: map-get($mq-breakpoints, l-tablet)) {
        height: 46em;
    }
    .description-client {
        padding: 0 100px;
        width: 100%;
        height: 16em;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background: red;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(transparent, red);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(transparent, red);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(transparent, red);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(transparent, red);
        /* Standard syntax */
        p {
            line-height: 1.4em;
            font-size: 1.2em;
        }
        a {
        	z-index: 99999
            &:hover {
               
            }
        }
        @media screen and (max-width: map-get($mq-breakpoints, mobile)) {
            padding: 0 10px;
            p {
                line-height: 1.2em;
                font-size: 1em;
            }
        }
    }
}

.slider-top {
	@extend .slider;
    margin:-6px auto;
}
.slider-bottom {
	@extend .slider;
    margin:3px auto;
}

