<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/application.css">

    <!--[if lt IE 9]>
        <script src="/assets/vendors/html5shiv/dist/html5shiv-printshiv.min.js"></script>
    <![endif]-->
<!--     <script src="/assets/vendors/modernizr/modernizr.js"></script> -->

</head>
<body>

{% block navBar %}{% endblock %}
{% block sectionClient %}{% endblock %}
{% block sectionInfo %}{% endblock %}
{% block navigationSite %}{% endblock %}
{% block sectionColorFont %}{% endblock %}
{% block sectionImages %}{% endblock %}
{% block main %}
{% endblock %}

<!-- <script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script> -->
<script src="/assets/js/app.js"></script>

</body>
</html>
